.student-view {
  margin: 20px;
}

.student-view h3 {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
}

.inner-student-view {
  margin: auto;
  width: fit-content;
}

.student-view button {
  width: 120px;
  height: 40px;
  background-color: white;
  border: 0.5px solid rgb(171, 171, 171);
  border-radius: 8px;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
}

.student-view button:hover:enabled {
  color: white;
  background-color: rgb(50, 50, 50);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

iframe {
  width: 90% !important;
  height: 90vh !important;
  position: absolute !important;
  left: 5%;
  top: 5% !important;
  border-radius: 15px;
  z-index: 4000 !important;
}

.complete-btn {
  width: 200px !important;
  height: 40px;
  background-color: white;
  border: 0.5px solid rgb(171, 171, 171);
  border-radius: 8px;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 50px;
}

.complete-btn:hover {
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: rgb(50, 50, 50);
}
